@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

p {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.info-container {
  background-color: #6040B0;
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4rem 4rem 0 4rem;
}

.upper-heading {
  font-size: 2vw;
}

.main-heading {
  font-size: 4.5vw;
  /* font-stretch: expanded; */
  font-family: 'Roboto';
}

hr {
  background-color: white;
  border-radius: 2px;
  border: 1.5px solid white;
  margin: 0.5rem 0 0.5rem 0;

}

.sub-heading {
  font-size: 2.5vw;
  font-weight: lighter;
  font-family: 'Roboto';
}

.content {
  color: rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  padding: 4rem 4rem 0 4rem;
}

.upper-text {
  font-size: 1.2rem;
}

.bottom-text {
  font-size: 1.1rem;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60rem;
}

.new-member-link {
  font-size: 0.9rem;
  margin: 1rem 1rem 0 auto;

}

.new-member-link>a {
  color: #6d44d4;
  text-decoration: none;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  width: 40rem;
}

.form-heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 4%;
}

.input {
  background-color: rgb(242, 242, 242);
  border: 0px;
  border-bottom: 2px solid rgb(149, 149, 149);
  font-size: 1rem;
  height: 3rem;
  margin: 0.5rem 0 0.5rem 0;
  outline: none;
  width: 100%;
}

.input::placeholder {
  padding-left: 1rem;
}

.forgot-pass {
  color: #6d44d4;
  display: block;
  font-size: small;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: right;
  text-decoration: none;
}

.login-btn {
  border: none;
  background-color: rgb(227, 227, 227);
  color: rgb(153, 153, 153);
  display: block;
  font-weight: bold;
  height: 2rem;
  margin-top: 1rem;
  margin: auto;
  border-radius: 2px;
  width: 10rem;
}

.login-btn:hover {
  background-color: rgb(155, 155, 155);
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.footer {
  font-family: Arial;
  font-size: small;
  margin-bottom: 0.5rem;
  margin-top: auto;
}

.small-form {
  display: none;
}

.small-footer {
  display: none;
}

@media screen and (max-width: 1000px) {
  .info-container {
    width: 100%;
  }

  .form-container {
    display: none;
  }

  .header {
    padding: 1rem 1rem 0 1rem;
    text-align: center;
  }

  .upper-heading {
    font-size: 1.5rem;
  }

  .main-heading {
    font-size: 4rem;
    font-stretch: expanded;
  }

  hr {
    display: none;
  }

  .sub-heading {
    font-size: 2rem;
    font-weight: lighter;
  }

  .content {
    align-self: center;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
    width: 30rem;
  }

  .upper-text {
    font-size: 1rem;
  }

  .bottom-text {
    font-size: 1rem;
  }

  .small-form {
    align-items: flex-start;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 20rem;
  }

  .form {
    margin-top: 10%;
    width: 90%;
  }

  .new-member-link {
    margin: 1rem 0 2rem 0;
    text-align: center;
  }

  .footer {
    display: none;
  }

  .small-footer {
    color: white;
    display: block;
    margin-bottom: 1rem;
    margin-top: auto;
    text-align: center;
  }
}


@media screen and (max-width:480px) {
  .content {
    width: auto;
  }
}